@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common;
@inject UmbracoHelper Umbraco;

@{
    var content = (ContentModels.BannerInformationComponent)Model.Content;
    var contentButtonsBannerInformation = content?.Value<IEnumerable<BlockListItem>>("contentButtonsBannerInformation").Select(x => x.Content);

}
@{
    <section class="section-banner-info" style="background-color: #@content.Value("backgroundColor"); border: 1px solid #@content.Value("backgroundColor");">
        <article class="section-banner-info__content">
            <div class="section-banner-info__content__information">
                <h4 style="color: #@content.Value("textColor")">@content.Value("textBanner")</h4>
            </div>
            <div class="section-banner-info__content__buttons">
            @foreach (var Buttons in contentButtonsBannerInformation)
                {
                    var linkButton = Buttons.Value<Link>("linkButton");

                    <button class="@Buttons.Value("colorButton")" style="background-color: #@Buttons.Value("colorButton")">
                        <a href="@linkButton.Url" style="color: #@Buttons.Value("colorTextButton")">@Buttons.Value("textButton")</a>
                    </button>
                }
            </div>
        </article>
    </section>
}