
/*Footer structure*/
.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: transparent;
}

    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }
        .footer .col img {
            width: 100%;
            max-width: 12rem;
        }

        .footer .col h1 {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: 12px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: #212529;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.250em;
        }

        .footer .col ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .footer .col ul li, .footer a {
                text-decoration: none;
                color: #ffffffbf;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover, .footer a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

body {
    background-color: #F0F2F5;
}

.Section-Footer .header {
    position: relative;
    text-align: center;
    background: linear-gradient(195deg, rgba(84,58,183,1) 0%, rgba(219,74,127,1) 100%);
    color: white;
}

.Section-Footer .logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.Section-Footer .inner-header {
    height: 40vh;
    min-height: 10rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Section-Footer .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}

    .Section-Footer .flex img {
        width: auto;
        max-width: 30rem;
    }

.Section-Footer .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-top: -1px;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    transform: rotate(180deg);
}

.Section-Footer .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.Section-Footer .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .Section-Footer .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .Section-Footer .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .Section-Footer .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .Section-Footer .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .Section-Footer .waves {
        height: 40px;
        min-height: 40px;
    }

    .Section-Footer .content {
        height: 30vh;
    }
}
