.content-information-shoppingCart {
    display: grid;
    grid-template-columns: 57% 40%;
    gap: 3%;
    padding: 4rem 3rem;
}
.producto-item {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem 0;
    padding: 2rem;
    align-items: center;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 1px -1px 11px 5px rgb(179 175 175 / 75%);
}

    .producto-item img {
        width: 100%;
        max-width: 20rem;
        margin: auto;
        object-fit: cover;
    }

    .producto-item button {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' viewBox='0 0 448 512'%3E%3Cpath fill='%23FF0000' d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z'/%3E%3C/svg%3E");
        background-size: 1.2rem 1.3rem !important;
        background-repeat: no-repeat;
        background-position: center;
        width: 2em;
        height: 2em;
        border: none;
    }


.content-order-buy {
    height: 35rem;
    margin: 1rem 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 1px -1px 11px 5px rgb(179 175 175 / 75%);
}

.mercadoPago {
    text-align: center;
}

.Confirmar-pedido {
    width: 100%;
    max-width: 20rem;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #dd2567;
    color: #fff;
    margin: 1rem;
}
#mp-button {
    width: 100%;
    max-width: 20rem;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #009EE3;
    color: #fff;
}

#mp-button {
    box-shadow: 0 3px 3px 0 rgba(0, 158, 227, 0.15), 0 3px 1px -2px rgba(0, 158, 227, 0.2), 0 1px 5px 0 rgba(0, 158, 227, 0.15);
}

    #mp-button:hover {
        background-color: #009EE3;
        border-color: #009EE3;
        box-shadow: 0 14px 26px -12px rgba(0, 158, 227, 0.4), 0 4px 23px 0 rgba(0, 158, 227, 0.15), 0 8px 10px -5px rgba(0, 158, 227, 0.2);
    }